<p id="notice"><%= notice %></p>

<p>
  <strong>quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order.item %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
